data-gathering/_pycache_
.vscode
data-gathering/ghana_article_file.csv
data-gathering/ghana_subject_file.csv
data-gathering/ghana_results.txt
data-gathering/uruguay_article_file.csv
data-gathering/uruguay_subject_file.csv
data-gathering/uruguay_results.txt
