data-gathering/_pycache_
data-gathering/__pycache__
.vscode
data-gathering/ghana_en_article_file.csv
data-gathering/ghana_en_subject_file.csv
data-gathering/ghana_tw_article_file.csv
data-gathering/ghana_tw_subject_file.csv
data-gathering/117_en.txt
data-gathering/117_tw.txt
data-gathering/uruguay_es_article_file.csv
data-gathering/uruguay_es_subject_file.csv
data-gathering/uruguay_results.txt
visualization/assets/data
