/* ------- Dark-mode -------*/ 
body.dark-mode {
    background-color: #111827;
    color: #fff; }
  
body.dark-mode a,
body.dark-mode a:visited {
    color: #fff; }

/* ------- header ------- */
.dark-mode #dark-header  {
    background-color: #1F2937;
    box-shadow: 0px 1px 1px #9a9a9a; }
  
/* ------- mobile menu ------- */
#mobile_menu_box {
    background-color: white;
    box-shadow: 0px 1px 3px #bbbbbb; }
  
/* ------- select box ------- */
#select_section_1, #select_section_2, #select_section_3 {
    border-bottom: 1px solid #9CA3AF; }

.dark-mode #select_section_1 .select_box, #select_section_2 .select_box, #select_section_3 .select_box {
    background-color: #111827; }
      
#select_section_1 .select_box .selector, #select_section_2 .select_box .selector, #select_section_3 .select_box .selector {
    border-right: 1px solid #9CA3AF; }
  
@media only screen and (max-width: 768px) {
    #select_section_1 .select_box .selector, #select_section_2 .select_box .selector, #select_section_3 .select_box .selector {
      border-bottom: 1px solid #9CA3AF;} }

    #select_section_1 .select_box .selector .value, #select_section_2 .select_box .selector .value, #select_section_3 .select_box .selector .value {
      background-color: white; }

.dark-mode #select_section_1 .select_box .selector .select, #select_section_2 .select_box .selector .select, #select_section_3 .select_box .selector .select  {
    border-bottom: 1px solid #9CA3AF;
    background-color:#111827;
    color: #fff; }

  
/* ------- filter ------- */
#filter_button {
    border-bottom: 1px solid #9CA3AF; }

  
/* ------- dataviz and legend ------- */
.dark-mode #dv1 .dataviz {
    background-color: #111827; }
  
/* ------- footer ------- */
.dark-mode #dark-footer {
    border-top: 1px solid #d6d5d5;
    background-color: #1F2937 !important;
    color: #fff !important; }
  
#colophon {
    padding: 20px 0; }
  
.dark-mode  .sub_footer {
    border-top: 1px solid #d6d5d5; }
   
#sub_footer a {
    text-decoration: none;
    color: #6f737b !important; }

/* ------- dataviz n. 1 ------- */
#grid .tick line {
    stroke: #9CA3AF; }

/* ------- tooltip ------- */
.dark-mode .tooltip {
    background-color: #374151;
    border: 1px solid #212529;
    color: #fff; }
  
/*#yAxis_features .domain, #yAxis_issues .domain, #yAxis_features .tick line, #yAxis_issues .tick line, #grid .domain */
#grids #grid_issues .tick line, #grids #grid_features .tick line {
    stroke: #e9e4e4; }

.dark-mode-button, #moonStarsIcon, #sunIcon {
    position: absolute;
    bottom: 2px;
    right: 10px; 
    z-index: 2; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
    border-radius: 5px; 
    padding: 8px 8px;
}

#moonStarsIcon {
  width: 35px;
  height: 35px;
  fill:#374151;
}

#sunIcon {
  width: 35px;
  height: 35px;
  fill:#f7c548;
}

#moonStarsIcon:hover {
  background-color:#E5E7EB;  
}

#sunIcon:hover {
  background-color: #4B5563; 
}

.dark-mode .svg-element {
  filter: invert(100%);
}